{%extends 'base.html'%}
{% load static %}
{%block links%}{%endblock%}
{%block title%}homepage{% endblock %}
{%block body%}


{% for songs in song %} 
            <div class="col">
                <div class="col-lg-4 d-none d-lg-block">
                    <div class="card">
                    {% if songs.album == "My Turn (Deluxe)" %}
                      <img
                        src="{% static 'images/myturn.jpg' %}"
                        class="card-img-top"
                        alt="Sunset Over the Sea"
                      />
                    {% elif songs.album == "Apple The 100 Best Songs of 2020" %}
                    <img
                    src="{% static 'images/2020best.jpg' %}"
                    class="card-img-top"
                    alt="Sunset Over the Sea"
                    />
                    {% elif songs.album == "Free Dem Boyz" %}
                    <img
                    src="{% static 'images/42dugg.jpg' %}"
                    class="card-img-top"
                    alt="Sunset Over the Sea"
                    />
                    {% elif songs.album == "Meet The Woo 2" %}
                    <img
                    src="{% static 'images/smoke.jpg' %}"
                    class="card-img-top"
                    alt="Sunset Over the Sea"
                    />
                    {% elif songs.album == "Billboard 2019 Year-End Hot 100 Songs" %}
                    <img
                    src="{% static 'images/bill100.jpg' %}"
                    class="card-img-top"
                    alt="Sunset Over the Sea"
                    />
                    {% elif songs.album == "Whole Lotta Red" %}
                    <img
                    src="{% static 'images/playboy.jpg' %}"
                    class="card-img-top"
                    alt="Sunset Over the Sea"
                    />
                    {% elif songs.album == "Music To Be Murdered By" %}
                    <img
                    src="{% static 'images/eminem.jpg' %}"
                    class="card-img-top"
                    alt="Sunset Over the Sea"
                    />
                    {% elif songs.album == "The Voice of the Heroes" %}
                    <img
                    src="{% static 'images/voice.jpg' %}"
                    class="card-img-top"
                    alt="Sunset Over the Sea"
                    />
                    {% elif songs.album == "Memories...Do Not Open" %}
                    <img
                    src="{% static 'images/memories.jpg' %}"
                    class="card-img-top"
                    alt="Sunset Over the Sea"
                    />
                    {% elif songs.album == "Sick Boy" %}
                    <img
                    src="{% static 'images/sickboy.jpg' %}"
                    class="card-img-top"
                    alt="Sunset Over the Sea"
                    />
                    {% elif songs.album == "Culture III" %}
                    <img
                    src="{% static 'images/culture3.jpg' %}"
                    class="card-img-top"
                    alt="Sunset Over the Sea"
                    />
                    {% elif songs.album == "The Voice" %}
                    <img
                    src="{% static 'images/durkvoice.jpg' %}"
                    class="card-img-top"
                    alt="Sunset Over the Sea"
                    />
                    {% elif songs.album == "poetry" %}
                    <img
                    src="{% static 'images/myturn.jpg' %}"
                    class="card-img-top"
                    alt="Sunset Over the Sea"
                    />
                    {% elif songs.album == "These Things Happen Too (Deluxe)" %}
                    <img
                    src="{% static 'images/geasy.jpg' %}"
                    class="card-img-top"
                    alt="Sunset Over the Sea"
                    />
                    {% elif songs.album == "Destined 2 Win" %}
                    <img
                    src="{% static 'images/tjay.jpg' %}"
                    class="card-img-top"
                    alt="Sunset Over the Sea"
                    />
                    {% elif songs.album == "Culture" %}
                    <img
                    src="{% static 'images/culture.jpg' %}"
                    class="card-img-top"
                    alt="Sunset Over the Sea"
                    />
                    {% elif songs.album == "American Teen" %}
                    <img
                    src="{% static 'images/khalid.jpg' %}"
                    class="card-img-top"
                    alt="Sunset Over the Sea"
                    />
                    {% elif songs.album == "Hall of Fame" %}
                    <img
                    src="{% static 'images/hall.jpg' %}"
                    class="card-img-top"
                    alt="Sunset Over the Sea"
                    />
                    {% elif songs.album == "WUNNA" %}
                    <img
                    src="{% static 'images/wunna.jpg' %}"
                    class="card-img-top"
                    alt="Sunset Over the Sea"
                    />
                    {% elif songs.album == "Eternal Atake" %}
                    <img
                    src="{% static 'images/uzi.jpg' %}"
                    class="card-img-top"
                    alt="Sunset Over the Sea"
                    />
                    {% elif songs.album == "Kids in Love" %}
                    <img
                    src="{% static 'images/kygo.jpg' %}"
                    class="card-img-top"
                    alt="Sunset Over the Sea"
                    />
                    {% else %}
                    <img
                    src="{% static 'images/basepic.jpg' %}"
                    class="card-img-top"
                    alt="Sunset Over the Sea"
                    />
                    {% endif %}
                      <div class="card-body">
                        <h5 class="card-title">{{songs.name}}</h5>
                        <h5 class="card-title">{{songs.album}}</h5>
                        <h5 class="card-title">{{songs.artist}}</h5>
                        <h5 class="card-title">{{songs.length}}</h5>
                        <audio controls>
                            <source src="/media/{{songs.link}}" type="audio/mp3">
                            Your browser does not support the audio element.
                        </audio>
                        {% if not songs.favorite_bool %}
                        <form action="{% url 'songs' %}" method="post">

                        {% csrf_token %}

                            <input type="hidden" name="songid" value="{{songs.id}}" >
                            <button type="submit"><img src="{% static 'images/like.png' %}" alt=""></button>
                        </form>
                        {% elif songs.favorire_bool %}
                            <a href="{%url 'favorites'%}"><img src="{% static 'images/lovered.png' %}" alt=""></a>
                        {% endif %}
                        <form action="{% url 'addtoplaylist' %}" method="post">

                          {% csrf_token %}
  
                              <input type="hidden" name="songid" value="{{songs.id}}" >
                              <button type="submit"><img src="" alt="">Add To playlist</button>
                          </form>
                      </div>
                    </div>
                  </div>
                 
            </div>
        </div>
    </div>
{% endfor %}



{%endblock%}